* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* контейнер 1-й секции */
.poster-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden; 
    background-color: #000000; /* Фон для контраста */
}

/* 1. красная плашка */
.instruction-plaque {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw; 
    padding: 2.5vw 0;
    padding-left: 2.5vw;
    
    background-color: #FF4444; 
    color: #FFFFFF;
    
    border-top-right-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 1.1 текст в красной плашке */
.instruction-plaque span {
    font-family: 'Bounded', sans-serif;
    font-weight: 500; 
    
    font-size: 1.7vw;
    line-height: 1.1;
    
    white-space: nowrap;
}

.plaque-line-2 { margin-left: 1.5vw; }